.buttons {
    z-index: 100;
    /* background-color: white;
    border-radius: 50%; */
    width:5rem;
    height:3rem;
    position: absolute;
    top: 1%;
    left:1%;
}

.a-canvas {
    z-index: -1;
}